<div id="importCustomerCard" class="row d-none">
  <div class="col-md-12 p-5 card">
    <form id="formImportCustomer" action="javascript:void(0);" method="post" enctype="multipart/form-data" >
      <div class="mb-3">
        <label for="importCustomer" class="form-label">CSV</label>
        <input type="file" class="form-control" name="file" id="customerImport"  aria-describedby="importCustomerHelp">
        <div id="importCustomerHelp" class="form-text">Carregar aquivo CSV.</div>
      </div>
      <button type="submit" class="btn btn-primary float-end">Importar</button>
    </form>
  </div>
</div>
</br>
<div id="listCustomerCard" class="row d-none">
  <div class="col-md-12 p-5 card">
    
    
    <table id="tableCustomer" class="mb-0 table  table-striped table-bordered">
      <thead>
          <tr>
              <th>#</th>
              <th>Nome</th>
              <th>Email</th>
          </tr>
      </thead>
      <tbody>
      </tbody>
  </table>
  
    </div>
</div>
<script src="js/customer-import.js"></script>