<div id="registerCustomerCard" class="row d-none">
    <div class="col-md-12 p-5  card">
        <form>
            <div class="mb-3">
              <label for="name" class="form-label">Nome Completo</label>
              <input type="text" class="form-control" id="name" aria-describedby="nameHelp">
              <div id="nameHelp" class="form-text">Digite o nome completo do cliente.</div>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">E-mail</label>
              <input type="email" class="form-control" id="email"  aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">Digite um e-mail para contato.</div>
            </div>
         
            <button type="submit" class="btn btn-primary float-end">Salvar</button>
          </form>
    </div>
</div>