<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <div class="container">
    <div class="wrapper d-flex align-items-center justify-content-center h-100">
      <div class="card login-form">
        <div class="card-body">
          <h5 class="card-title text-center">
            <img src="/images/logo.png" width="150" />
          </h5>
          <form id="formLogin" action="#">
            <label for="email" class="form-label">E-mail</label>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"><i class="fas fa-key"></i></span>
              <input type="email" class="form-control" id="email" name="email" placeholder="E-mail de usuário" autocomplete="email"
                aria-describedby="emailHelp" required />
            </div>
            <label for="password" class="form-label">Senha</label>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"><i class="fas fa-key"></i></span>

              <input type="password" class="form-control" id="password" name="password" placeholder="**********" autocomplete="password"
                required />
            </div>
        
            <button type="submit" class="btn btn-primary w-100">
              Entrar
            </button>
            <div class="mt-2 float-end">
              <input type="checkbox"  id="remember"> Lembrar-me
            </div>
            <div class="register-up mt-5 d-flex align-items-center justify-content-center">
              Não tem uma conta?&nbsp;<a href="/cadastro">Criar Conta</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <%- include('../partials/footer'); %>
    <script src="js/login.js"></script>
    <script src="js/register.js"></script>
</body>

</html>