<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <div class="container">
    <div class="wrapper d-flex align-items-center justify-content-center h-100">
      <div class="card login-form">
        <div class="card-body">
          <h5 class="card-title text-center">
            <img src="/images/logo.png" width="150" />
          </h5>
          <form id="formRecoveryPassword" action="#">
            <label for="email" class="form-label">Recuperação de senha</label>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"><i class="fas fa-key"></i></span>
              <input type="email" class="form-control" id="email" name="email" placeholder="E-mail de usuário" autocomplete="email"
                aria-describedby="emailHelp" required />
            </div>
            <button type="submit" class="btn btn-primary w-100">
              Enviar
            </button>
            <div class="register-up mt-4 d-flex align-items-center justify-content-center">
              Já tem uma conta?&nbsp;<a href="/">Entrar</a>
            </div>
            <div class="register-up mt-2 d-flex align-items-center justify-content-center">
              Não tem uma conta?&nbsp;<a href="/cadastro">Criar Conta</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <%- include('../partials/footer'); %>
  <script src="js/recovery-password.js"></script>
</body>

</html>